/cython_integrate.c
/numba-intro.aux
/numba-intro.log
/numba-intro.nav
/numba-intro.out
/numba-intro.pdf
/numba-intro.snm
/numba-intro.toc
/numba-intro.vrb
/runningloop_c
/runningloop_c_03
/runningloop_c_opt
/.mypy_cache/
/_minted-*/
